test_similar
**/__pycache__/**
*.ipynb
**/.ipynb_checkpoints/**
*.npz
**/.vscode/**
**/grasp_label*/**
**/log*/**
**/dump*/**
**/build/**
*.o
*.so
*.egg
**/*.egg-info/**
logs
dataset/tolerance
**/.idea/
